@font-face {
  font-family: Gamegirl;
  src: local("Gamegirl"),
       local("Gamegirl"),
       url(../font/Gamegirl.ttf);
}

body {
  font-family: "Gamegirl", "Helvetica", "sans-serif";
  background-color: #505050;
  color: white;
  margin: 0;
  padding: 10px;
  font-size: 2.5em;
}

#game-container {
  padding: 15px;
  background-color: black;
  margin-top: 10px;
  height: 700px;
  border: 5px solid white;
  border-radius: 15px;
}

.botSelect,.modSel {
  border: 5px solid white;
  border-radius: 5px
}



.modSel img {
  margin: auto 10%;
}

button {
  background-color: #f0f0f0;
}